<div class="jumbotron text-center">
	<h1>Users</h1>
	<p>{{ tagline }}</p>
</div>
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				Users
			</div>
			<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>id</th>
								<th>User Name</th>
								<th>Email</th>
								<th>Roles</th>
								<th>Created At</th>
								<th>Updated At</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in users">
								<td>{{user.id}}</td>
								<td>{{user.username}}</td>
								<td>{{user.email}}</td>
								<td>{{user.roles}}</td>
								<td><span am-time-ago="user.created_at"></span></td>
								<td><span am-time-ago="user.updated_at"></span></td>
								<td><button type="button" name="editUser" class="btn btn-md btn-success">Edit</button></td>
								<td><button type="button" name="deleteUser" class="btn btn-md btn-danger">Delete</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
